{{log 'Meta:' this.model.meta}}

<ul>
  {{#each this.model as |film|}}
    <li>
      <LinkTo @route='film' @model={{film.id}}>
        <i>{{film.title}}</i>
      </LinkTo>
    </li>
  {{/each}}
</ul>
